<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
        <link rel="stylesheet" th:href="@{/styles.css}">
        <link rel="stylesheet" th:href="@{/registerForm.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>


<div class="container">
<form class="registerForm" id="registerForm" method="post" th:object="${user}">

        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <div class="UserInfo">
            <div class="name">
                <label for="name"><b>Name</b></label>
                <input type="text" placeholder="Enter Name" name="name" id="name" th:field="*{name}" required>
            </div>
            <div class="species">
                <label for="species"><b>Species</b></label>
                <select class="speciesTag" name="species" id="species" th:field="*{species}" required>
                    <option th:each="option: ${T(be.viermusketiers.vlinder.entities.user.Species).values()}"
                            th:value="${option}" th:text="${option}">Option</option>
                </select>
            </div>
            <div class="gender">
                <label for="gender"><b>Gender</b></label>
                <select class="genderTag" name="gender" id="gender" th:field="*{gender}" required>
                    <option th:each="option: ${T(be.viermusketiers.vlinder.entities.user.Gender).values()}"
                            th:value="${option}" th:text="${option}">Option</option>
                </select>
            </div>
            <div class="birthdate">
                <label for="age"><b>Date of birth?</b></label>
                <input class="birthDateTag" type="date" placeholder="dd-mm-yyyy" name="age" id="age" th:field="*{dateOfBirth}" required/>
            </div>
            <div class="location">
                <label for="location"><b>location</b></label>
                <input type="text" placeholder="Enter your city" name="location" id="location" th:field="*{location}"
                       required>
            </div>
            <div class="email">
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" id="email" th:field="*{email}" required>
            </div>
            <div class="password">
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="unencodedPassword" id="psw" required>
            </div>
            <div class="passwordrpt">
                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
                <hr>
            </div>
            <div>
                <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
                <button type="submit" class="registerbtn">Register</button>
            </div>
        </div>


    <div class="signIn">
        <p>Already have an account? </p>
        <nav>
            <a th:href="@{login}">Log in</a>
        </nav>
    </div>
    <script th:src="@{ConfirmPassword.js}"></script>
</form>
</div>
<script>
    var todayDate = new Date();
    var month = todayDate.getMonth()+1;
    var year =todayDate.getFullYear();
    var tdate = todayDate.getDate();
    if (month<10){
        month= "0"+month
    }
    if (tdate<10){
        tdate= "0"+tdate;
    }
    var maxDate = year +"-"+month+"-"+tdate;
    document.getElementById("age").setAttribute("max",maxDate);
    console.log(maxDate)
</script>

</body>
</html>