html, body {
    margin: 0;
    overflow: hidden;
    width: auto;
    height: 100%;
    font-family: sans-serif;

}



.vlinder-card {
    margin-top: 2%;
    margin-left: 40%;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 450px;
    height: 700px;
    border-radius: 8px;
    background-color: #EfEFEFEF;
}
.vlinder-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
img {
    border-radius: 8px;

}

.info {
    padding-left: 10px;
    font-family: "Malgun Gothic", cursive;
    font-weight: bold;
}
.info .name {
    font-size: xx-large;
    padding-bottom: 0;
}
hr {
    width: 90%;
}

.info .age {
    font-size: x-large;
}
.info .gender .location{
    font-size: x-small;
}
.info .bio-textbox {
    box-sizing: border-box;
    border-color: #989898;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}
.info .bio {
    margin-left: 10px;
    font-size: x-small;
    font-weight: bold;
}

.buttons #judgement{
    margin: 20px 10px 10px 860px;
}
.buttons .judgebtn {
    margin: -50px 10px 10px 1000px;
    border: #989898;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.8) ;
    display: block;
    border-radius: 18px;
    background-color:rgb(81, 131, 202);
    width: 200px;
    height: 45px;
    font-size: 100%;
    font-weight: bold;
    font-family: 'Trebuchet MS', fantasy;
    font-style: italic;
    color: aliceblue;
    text-align: center;
}
.nextbtn {
margin: 10px 10px 10px 1000px;
border: #989898;
box-shadow:0 4px 8px 0 rgba(0,0,0,0.8) ;
display: block;
border-radius: 18px;
background-color:rgb(81, 131, 202);
width: 200px;
height: 45px;
font-size: 100%;
font-weight: bold;
font-family: 'Trebuchet MS', fantasy;
font-style: italic;
color: aliceblue;
text-align: center;
}

.chat {
    margin: 10px 10px 0 52%;
    box-sizing: border-box;
    border: #989898 solid;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.8) ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    background-color:rgb(81, 131, 202);
    width: 200px;
    height: 45px;
    font-size: 100%;
    font-weight: bold;
    font-family: 'Trebuchet MS', fantasy;
    font-style: italic;
    color: aliceblue;
    text-align: center;

}



