body{
    font-family: Montserrat, sans-serif;
    background: #7cf673;
}
.container{
    user-select: none;
    margin: 100px auto;
    background: #231e39;
    color: #b3b8cd;
    border-radius: 5px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
}
.cover-photo{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIjt0cvL_gcBRkeW2Qru4LLKDmY8RTCqu3Vw&usqp=CAU);
    height: 160px;
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.profile{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 93px 0 0 -175px;
    border: 1px solid #1f1a32;
    padding: 7px;
    background: #292343;
}
.profile-name{
    font-size: 25px;
    font-weight: bold;
    margin: 27px 0 0 120px;
}
.about{
    margin-top: 35px;
    line-height: 21px;
}
button{
    margin: 10px 0 40px 0;
}
.msg-btn, .follow-btn{
    background: #03bfbc;
    border: 1px solid #03bfbc;
    padding: 10px 25px;
    color: #231e39;
    border-radius: 3px;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
}
.follow-btn{
    margin-left: 10px;
    background: transparent;
    color: #02899c;
}
.follow-btn:hover{
    color: #231e39;
    background: #03bfbc;
    transition: .5s;
}
.container i{
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .5s;
}
.container i:hover{
    color: #03bfbc;
}