body {
    background-color: #96fd96;
}
.container{
    border: 2px solid #dedede;
    background-color: #4f8d55;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    margin-right: 50%;
}
.retriever{
    border-color: #ccc;
    background-color: #36668c;
    margin-left: 50%;
    margin-right:0;
}
.time.retriever{
    margin-right:10%;
}
