.info {
    display: flex;
    flex-direction: column;
}
.profileCard {
    padding: 75px 75px 30px 20px
}
.info label {
    font-family: "Trebuchet MS",fantasy;
    font-weight: bold;
}
.info input {
    background-color: #faf7d2;
}
.info input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.info input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #96fd96;
    padding: 20px;
}