body {

    max-width: 100% ;

}
h1, p {
    text-align: center;


}
label {
    margin-left: 5%;
}

.container {
    padding: 20px;
}
.UserInfo {
    align-content: center;
    width: 450px;
    margin-left: 10%;
    margin-right: 10%;
}
.genderTag, .speciesTag {
    width: 100%;
    height: 30px;
    padding: 20px;
    margin: 5px 25px 22px 3px;
    border: none;
    background: #ece874;
    border-radius: 20px;
    color: #2f2f2f;
}

.birthDateTag {
    width: 90%;
    height: 25px;
    padding: 20px;
    margin: 5px 25px 22px 3px;
    border: none;
    background: #ece874;
    border-radius: 20px;
    color: #2f2f2f;
}
input {
    height: 20px;
}

input[type=text] {
    height: 20px;
    border-radius: 20px;
    background: rgb(255, 220, 133);

}

input[type=text], input[type=password] {
    height: 20px;
    width: 90%;
    padding: 20px;
    margin: 5px 25px 22px 3px;
    border: none;
    background: #ece874;
    border-radius: 20px;
    color: #2f2f2f;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline:1px black;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn {
    background-color: rgb(81, 131, 202);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 23px;
}

.registerbtn:hover {
    opacity:1;
}

a {
    color: dodgerblue;
}

.signIn {
    width: 100% ;
    background-color: #f1f1f1;
    text-align: center;
}

@media screen and (min-width:1900px) {

    body {

        max-width: 100% ;
        align-content: center;
        justify-content: center;
    }
    h1, p {
        text-align: center;
        margin-left: -100px;
    }
    label {
        margin-left: 5%;
    }

    .container {
        padding: 20px;
    }
    .UserInfo {
        align-content: center;
        width: 450px;
        margin-left: 80px;
        margin-right: 15px;
    }
    .genderTag, .speciesTag {
        width: 100%;
        height: 30px;
        padding: 20px;
        margin: 5px 25px 22px 3px;
        border: none;
        background: #ece874;
        border-radius: 20px;
        color: #2f2f2f;
    }

    .birthDateTag {
        width: 90%;
        height: 25px;
        padding: 20px;
        margin: 5px 25px 22px 3px;
        border: none;
        background: #ece874;
        border-radius: 20px;
        color: #2f2f2f;
    }
    input {
        height: 20px;
    }

    input[type=text] {
        height: 20px;
        border-radius: 20px;
        background: rgb(255, 220, 133);

    }

    input[type=text], input[type=password] {
        height: 20px;
        width: 90%;
        padding: 20px;
        margin: 5px 25px 22px 3px;
        border: none;
        background: #ece874;
        border-radius: 20px;
        color: #2f2f2f;
    }

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline:1px black;
    }

    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    .registerbtn {
        background-color: rgb(81, 131, 202);
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
        border-radius: 23px;
    }

    .registerbtn:hover {
        opacity:1;
    }

    a {
        color: dodgerblue;
    }

    .signIn {
        width: 100% ;
        background-color: #f1f1f1;
        text-align: center;
    }
}