    body {
        top:0;
        bottom: 0;
        position: relative;

    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    img {
        margin-top: 10%;
        display: block;
        max-width: 450px;
        width: 100%;
        height:auto;
        margin-left: 26%;
    }
    .welcomeText {
        display: block;
        text-align: center;
        padding: 5px 20px;
        font-family: 'Trebuchet MS', fantasy;
        font-style: italic;
        font-size: clamp(35px,50%,100px);
        width: 85%;
        height: auto;
        line-height: 100%;
        margin: 2% 4%;
        color: whitesmoke;
    }
    .landButtons {
        margin-bottom: 250px;
    }

    .landButtons button {
        box-shadow:0 4px 8px 0 rgba(0,0,0,0.8) ;
        display: block;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        background-color:rgb(81, 131, 202);
        width: 80%;
        height: 70px;

        margin-left: 10%;
        margin-bottom: 10%;
        font-size: 250%;
        font-family: 'Trebuchet MS', serif;
        font-style: italic;
        color: aliceblue;
        text-align: center;
    }
    a{
        height: 75px;
        text-decoration: none;
    }




