:root {
    --main-baseColor-lightGreen: rgb(150, 253, 150);
    --main-baseColor-white: white;
}

body, html {
    background-color: var(--main-baseColor-lightGreen) !important;
}
html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x:hidden;
}
