<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="stylesheet" th:href="@{/login.css}">
</head>
<body>
<form class="formContainer" method="post" th:object="${userLogin}">
    <div class="imgcontainer">
        <img th:src="@{/images/animalsLogo.png}" alt="Avatar" width="50">
    </div>

    <div class="container">
        <label for="email"><b>Username</b></label>
        <input type="text" placeholder="Enter E-mail" id="email" name="email" th:field="*{email}" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id="password" name="password" th:field="*{password}" required>

        <div th:text="${message}"></div>

        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <a th:href="@{start}">cancel</a>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
</form>

</body>
</html>