<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" type="text/css" th:href="@{/styles.css}">
    <link rel = "stylesheet" type="text/css" th:href="@{/candidateViewer.css}">
    <meta charset="UTF-8">
    <title>candidateViewer</title>
</head>
<body th:object="${user}">

<div class="vlinder-container">
    <div class="vlinder-card">

        <main th:object="${candidate}">

        <div class="photo">
            <img th:src="@{'/images/' + ${candidate.getSpecies()} + '.jpg'}" alt="Logo"
                 style="width: 100%" />
        </div>

        <div class ="info">
                <div class ="name">
                    <span th:text="*{name}"></span>
                </div>
                    <br>
                    <hr>
                <div class="age">
                    <span th:text="${age}"></span>
                </div>
                    <br>
                <div class="gender">
                    <span th:text="*{gender}"></span>
                </div>
                    <br>
                <div class="location">
                    <span th:text="*{location}"></span>
                </div>
            </div>
                <br>
            <div class="bio-textbox">
            <div class="bio">
                <p th:text="*{description}">description</p>
            </div>
            </div>
                <br>
        </main>
        </div>




<div class="buttons">

    <form method="post">
        <select name="judgement" id="judgement" th:object="${judgement}" required>

            <option th:each="option: ${T(be.viermusketiers.vlinder.entities.relation.RelationType).values()}"
                    th:value="${option}" th:text="${option}">Option</option>
        </select>
        <div>
            <button type="submit" class="judgebtn">judge</button>
        </div>
    </form>

    <div class="chatBtn"></div>
    <a class="chat" th:href ="@{chat}">Instant Chat</a>
    <div>
        <button class="nextbtn" onClick="window.location.reload();">Next Candidate</button>
    </div>
    </div>

</div>
</body>
</html>