<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" type="text/css" th:href="@{/candidateViewerTest.css}">
</head>
<body th:object="${user}">
<div class="container">
    <main th:object="${candidate}">
    <div class="cover-photo">
        <img th:src="@{'/images/' + ${candidate.getSpecies()} + '.jpg'}" class="profile">
    </div>
    <div class="profile-name" th:text="*{name}"></div>
    <p class="about" th:text="${age}"></p>
    <p class="about" th:text="*{gender}"></p>
    <p class="about" th:text="*{location}"></p>
    <p class="about" th:text="*{description}"></p>
        <a class="msg-btn" th:href ="@{chat}">Message</a>

        <form method="post">
            <button class="follow-btn">Judge</button>
            <select name="judgement" id="follow-btn" th:object="${judgement}" required>

                <option th:each="option: ${T(be.viermusketiers.vlinder.entities.relation.RelationType).values()}"
                        th:value="${option}" th:text="${option}">Option</option>
            </select>

        </form>
        <div>
            <button class="msg-btn" onClick="window.location.reload();">Next Candidate</button>
        </div>

    </main>
</div>
</body>
</html>