<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type="text/css" th:href="@{/message.css}">
</head>
<body>

<h2>Chat Messages</h2>



<div class="container " th:classappend="${chat.isSender  ? 'sender' : 'retriever'}" th:each="chat : ${chats} ">

    <p th:text="${chat.text}"></p>
    <span class="time" th:classappend="${chat.isSender  ? 'sender' : 'retriever'}" th:text="${chat.sendTime}"></span>
</div>
<form method="POST">

    <label for="chat">write your message</label><br>
    <input type="text" id="chat" name="chat" th:value="${chatMessage}"><br><br>
    <input type="submit" value="send">
</form>





</body>
</html>
