<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <link rel = "stylesheet" type="text/css" th:href="@{/styles.css}">
    <link rel = "stylesheet" type="text/css" th:href="@{/profile.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<header >
</header>
<div class = "profileCard">
<main th:object="${user}" >
    <form method="POST"  enctype="multipart/form-data">
    <div class = "info">
        <label>Name:
            <input type="text" th:field="*{name}"/>
        </label>
        <br>
        <div class="gender">
            <label for="gender">Gender:</label>
            <select class="genderTag" name="gender" id="gender" th:field="*{gender}" required>
                <option th:each="option: ${T(be.viermusketiers.vlinder.entities.user.Gender).values()}"
                        th:value="${option}" th:text="${option}">Option</option>
            </select>
        </div>
        <div class="species">
            <label for="species">Species:</label>
            <select class="speciesTag" name="species" id="species" th:field="*{species}" required>
                <option th:each="option: ${T(be.viermusketiers.vlinder.entities.user.Species).values()}"
                        th:value="${option}" th:text="${option}">Option</option>
            </select>
        </div>
        <label>Birthdate:
            <input type="text" th:field="*{dateOfBirth}" disabled/>
        </label>
        <br>
        <label>Location:
            <input type="text" th:field="*{location}"/>
        </label>
        <br>
        <label>E-mail:
            <input type="text" th:field="*{email}" disabled/>
        </label>
        <br>
        <label>Description:
            <input type="text" th:field="*{description}"/>
        </label>
        <br>
    </div>
        <div path = "file">
            <input class = "submitButton" type="submit" value="Apply"/>
        </div>
        </form>
    <a th:href ="@{candidate}">Candidate</a>
    <a th:href ="@{favorites}">matches & rated users</a>

</main>
</div>

</footer>

</body>
</html>