<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel = "stylesheet" type="text/css" th:href="@{/styles.css}">
    <link rel = "stylesheet" type="text/css" th:href="@{/startPage.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>startPage</title>
</head>
<body>
<div class="container">
    <div class="logo">
        <img  th:src="@{/images/animalsLogo.png}" width="400px"  alt="Logo">

        <div class="welcomeText">
            <p>Welcome To Vlinder, please Sign-Up or Log in to continue</p>
        </div>

        <div class="landButtons">
            <nav>
                <a th:href = "@{register}"><button>Register</button></a>
                <br>
                <a th:href ="@{login}"><button>Log in</button></a>
            </nav>
        </div>
    </div>
</div>

</body>
</html>